[user]
	name = Daniel Heene
	email = mail@danielheene.de
	signingkey = D9A559A3AD9A4532
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[init]
	defaultBranch = main
